html, body {
    width: 100%;
    height: 100%;
}

ul, li{
    list-style: none;
}

li{
    width: 25%;
    max-width: 200px;
    height: 350px;
    font-size: 15px;
    float: left;
    margin: 7%;
    background:pink;
}

.goodsimg {
    width: 100%;
    height: 200px;
}

img {
    width: 100%;
    height: 100%;
}

p {
    width: 95%;
    margin-top: 10px;
    padding-left: 5%;
}

.goodsname {
    width: 100%;
    height: 80px;
    clear: both;
}

.qita {
    widows: 100%;
    height: 50px;
    clear: left;
}